<!-- 用于列表页 -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{{.pageTitle}}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"> 
    <!-- Bootstrap core CSS     -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="/static/assets/css/material-dashboard.css" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/static/assets/css/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="/static/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="/static/assets/css/google-roboto-300-700.css" rel="stylesheet" />
</head>
<body>
{{.LayoutContent}}
{{.footerjs}}
</body>
</html>