<!-- Bootstrap core CSS     -->
<link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
<!--  Material Dashboard CSS    -->
<link href="/static/assets/css/material-dashboard.css" rel="stylesheet" />
<!--  CSS for Demo Purpose, don't include it in your project     -->
<link href="/static/assets/css/demo.css" rel="stylesheet" />
<!--     Fonts and icons     -->
<link href="/static/assets/css/font-awesome.css" rel="stylesheet" />
<link href="/static/assets/css/google-roboto-300-700.css" rel="stylesheet" />

<!-- Ionicons -->
<link rel="stylesheet" href="/static/plugins/Ionicons/css/ionicons.min.css">
<!-- 下拉插件 -->
<link rel="stylesheet" href="/static/plugins/bootstrap-select/css/bootstrap-select.min.css">