<!-- sidebar: style can be found in sidebar.less -->
<!-- 左边菜单栏 Start-->
        <!-- pagesidebar-->
        <!-- <div style="z-index:999"> -->
        <!-- <section class="sidebar" > -->
        <ul class="nav"  id="pageSidebar" data-widget="tree" style="z-index:9999;" >
                <!-- <li class="treeview">

                        <a  data-toggle="collapse" >
                            <i class="material-icons">image</i>
                            <p>Pages<b class="caret"></b></p>
                        </a>
        
                        <div class="collapse" id="pagesExamples">
                            <ul class="nav">
                                <li><a href="pages/pricing.html">Pricing</a></li>
                            </ul>
                        </div>
        
                    </li> -->
            <!-- 
            <li>
                <a data-toggle="collapse" href="#pagesExamples">
                    <i class="material-icons">image</i>
                    <p>Pages<b class="caret"></b></p>
                </a>
                <div class="collapse" id="pagesExamples">
                    <ul class="nav">
                        <li>
                            <a href="pages/pricing.html">Pricing</a>
                        </li>
                       
                    </ul>
                </div>
            </li>
            -->
            <!-- <li>
                    <a data-toggle="collapse" href="#pagesExamples">
                        <i class="material-icons">image</i>
                        <p>Pages
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="pagesExamples">
                        <ul class="nav">
                            <li>
                                <a href="{{urlfor "UserCenterController.Profile" }}">Pricing</a>
                            </li>
                            <li>
                                <a href="{{urlfor "UserCenterController.Profile" }}">Timeline</a>
                            </li>
                            <li>
                                <a href="{{urlfor "UserCenterController.Profile" }}">Login Page</a>
                            </li>
                            <li>
                                <a href="{{urlfor "UserCenterController.Profile" }}">Register Page</a>
                            </li>
                            <li>
                                <a href="{{urlfor "UserCenterController.Profile" }}">Lock Screen Page</a>
                            </li>
                            <li>
                                <a href="{{urlfor "UserCenterController.Profile" }}">User Profile</a>
                            </li>
                        </ul>
                    </div>
                </li> -->
        </ul>
        <!-- </section> -->
        <!-- </div> -->
<!-- 左边菜单栏 End-->
<!-- /.sidebar -->