<link href="/static/plugins/x-editable/css/bootstrap-editable.css" rel="stylesheet" />
<link href="/static/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/static/plugins/editor/css/editormd.css" />
<link href="/static/assets/css/material-dashboard.css" rel="stylesheet" />
<style>
blockquote {
    border-left:#eee solid 5px;
    padding-left:20px;
}

ul li {
   line-height: 20px;
}

code {
   color:#D34B62;
   background: #F6F6F6;
}
.card .checkbox{
  display:inline-block;
}
#content{
  z-index:10
}
.title input{
  text-indent:1em;
}
</style>